# Token del Bot de Telegram (obtenido de @BotFather)
TELEGRAM_BOT_TOKEN=8754958787:AAEtUitJVdwMMtXlSx0dZdKolMYSBNNcHTU

# ID del Chat de Telegram al que se enviarán las notificaciones
TELEGRAM_CHAT_ID=1562084285
